
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 70%;
    margin: 100px auto;
    background-color: #efeff6;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .target-box {
    background-color: greenyellow;
    width: 50%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
  
    transition-property: background-color, width, height;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0.5;
  
    animation-name: slide-left-to-right;
    animation-duration: 5;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .target-box:hover {
    background-color: darkblue;
    width: 700px;
    height: 700px;

  }
  
  @keyframes slide-left-to-right {
    from {
      margin-left: 0%;
    }
  
    to {
      margin-left: 90%;
    }
  }
  